.CardsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;

  & .card {
    display: flex;
    flex-direction: column;
    width: calc((100% - 60px) / 4);
    margin-right: 20px;
    margin-bottom: 30px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    & .imgWrapper {
      border: 10px solid #cccccc;
    }

    & img {
      width: 100%;
      display: block;
    }

    & .description{
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      padding-right: 20px;

      & span {
        margin-top: 7px;
      }
    }

  }
}
